<script src="../templates/assets/js/chat-room.js"></script>
<h1 class="group-container-header-label">
    <span>
        <i class="group-logo pull-left"></i>
        {{.roomName}}
        <i class="fa fa-user-plus fa-2 pull-right" style="font-size:25px;margin:5" aria-hidden="true" onclick="window.location.href='/add-user-group/{{.groupuuid}}'"></i>
    </span>
</h1>
<div class="group-container">
    <div class="imessage" style="position:relative">
        <div class="messages-container" id="messages" style="width:100%"></div>
    </div>
    <div class="row send-message-form">
        <form id="myForm" class="col-lg-12" action="/group/{{.groupuuid}}" method="post" onsubmit="document.getElementById('time').value=new Date().toJSON().slice(0,16);"> 
            <input id="user_form" type="hidden" name="user" value="{{.userid}}">
            <input id="message_form" class="" name="message" style="width:90%" required>
            <input id="time" type="hidden" name="time">
            <input id="groupuuid" type="hidden" value="{{.groupuuid}}">
            <input id="roomName" type="hidden" value="{{.roomName}}">
            <input id="userid" type="hidden" value="{{.userid}}">
            <input id="history" type="hidden" value="{{.history}}">
            <input type="submit"  style="background-color:black;color:white;width:8%" value="send" onclick="setTimeout(function(){document.getElementById('messages').scrollIntoView({ behavior: 'smooth', block: 'end' });},250)"> 
        </form>
    </div>
</div>
            
        