<div class="log-form">
  <h3 style="text-align:center;background-color:black;color:white;">Create Group</h3>
  <div class="row"  style="margin:15px">
    <form id="create-group-form">
      <input id="name" name="name" placeholder="group name" style="border-radius: 8px;height:30px">
    </form>
  </div>
  <div class="row"  style="margin:15px">
    <button id="login" type="button" class="btn"  style="border-radius: 8px;">Create</button>
  </div>
</div><!--end log form -->
